.container_12
{
  /*background: #e3e3e3;*/
  background: #0066FF;
  /*margin-bottom: 30px;*/
}
.report
{
margin-top: 50px;
}

header
{

  background: white;
  /*background: #e3e3e3;*/
  /*background: #0066FF;*/
  margin-bottom: 50px;
  margin-top: 10px;
}


header h1
{

  font-family: sans-serif;
  font-size: 50px;

}
.meta a
{
  color: black;
  font-style: bold;
  font-size: 18px;
}
.meta a:hover
{

color: red;
}
nav
{
  background:none;
}

nav li
{
  display: inline;
  margin-left: 0;
  margin-right: 30px;
}

section a
{
  text-indent: left;
  float:left;
  margin-right: 30px;
}

.main
{
 margin: 30px 0;
}

.primary
{
  position: relative;
  bottom: 30px;
  background: #e3e3e3;
  /*background: yellow;*/
}

.veg-pizza p
{
  font-family: 'Lora', sans-serif;  /*font-family: 'Oswald', arial ,monospace,serif;*/
  font-style: bold;
  font-weight: 140px;
  font-size:15px;
  margin: 0;
  color:#FF0000 ;
  margin-bottom: 10px;
}
.non-vegpizza p
{
  font-family: 'Lora', sans-serif;
  /*font-family: 'Oswald', arial ,monospace,serif;*/
  font-style: bold;
  font-weight: 140px;
  font-size:15px;
  margin: 0;
   /*margin-top: 5px;*/
  color:#E80000;
}
.sides p
{
  font-family: 'Lora', sans-serif;
  /*font-family: 'Oswald', arial ,monospace,serif;*/
  font-style: bold;
  font-weight: 140px;
  font-size:15px;
   margin-top: 10px;
  color:#E80000;
}
.veg-pizza h3
{
margin: 0;
text-indent: -9999px;
width: 180px;
height: 120px;
}
.non-vegpizza h3
{
/*background: url(../img/Wallmart.png) no-repeat;*/
text-indent: -9999px;
width: 180px;
height: 120px;
}
/*.non-vegpizzaveg-pizza p{
  margin-top: 6px;
}*/
.sides h3
{

text-indent: -9999px;
width: 180px;
height: 120px;
margin:0;
}
/*.sides p{
  margin-bottom: 2px;
}*/

.yummy h3
{
  text-indent: -9999px;
  width: 180px;
  height: 120px;
  /*margin: 0;*/
}
.yummy p
{
  font-family: 'Lora', sans-serif;
  /*font-family: 'Oswald', arial ,monospace,serif;*/
  font-style: bold;
  font-weight: 140px;
  font-size:15px;
   margin-top: 10px;
  color:#E80000;
}
.meal p
{
  font-family: 'Lora', sans-serif;
  /*font-family: 'Oswald', arial ,monospace,serif;*/
  font-style: bold;
  font-weight: 140px;
  font-size:15px;
   margin-top: 10px;
  color:#E80000;
}

.meal h3
{
  text-indent: -9999px;
  width: 180px;
  height: 120px;
  margin: 0;
}

.combos h4
{
  margin-bottom:5px;
}

.combos{
  float: left;

  /*margin: 0;*/
}
.combos h3
{
  text-indent: -9999px;
  width: 180px;
  height: 120px;
  margin: 0;
}
.combos p
{
  font-family: 'Lora', sans-serif;
  /*font-family: 'Oswald', arial ,monospace,serif;*/
  font-style: bold;
  font-weight: 140px;
  font-size:15px;
   margin-top: 10px;
  color:#E80000;
}

.hero-unit
{
    width: auto;
    background: #0066FF;

    /*background-color:rgb(200,220,250);*/
    /*background-color:#EEEEEE;*/

  }
.hero-img img
{
    /*margin-right: auto;*/
    width:100%;
    height:400px;
    position: relative;
}
.hero-unit h1
{
     /*font-family: 'Lato',monospace, sans-serif ;*/
    font-family: 'Oswald', Arial, serif; font-weight: 400;
    font-style: italic;
    color: yellow;
    font-size: 60px;
    text-align: center;
    text-shadow: 4px 4px red;
    /*letter-spacing: -1px;
    line-height: 1;
    margin-bottom:0;
    margin-top: 40px;
    text-indent:px;*/
   position: absolute;
   top: 580px;
   left: 0;
   width: 100%;
}
.hero-unit h2
{
    font-family: 'Oswald', Arial, serif; font-weight: 200;
    font-weight: lighter;
    color: yellow;
    text-align: center;
    font-size:30px;
    text-shadow: 3px 4px red;
    position: absolute;
    top: 680px;
    left: 0;
    width: 100%;


}

.Radar-chart
{

  background-position:left;
  background-repeat: no-repeat;
  background-size: 200px;
  height: 200px;
}

.ParagraphRadarChart h2
{
  color:#FF0000;
  display:block;
  position: relative;
  text-align: left;
  font-family: 'Lora', Arial, serif; font-weight: 200;
  font-weight: 200;
  font-size: 40px;
  font-style: oblique;
}

.ParagraphRadarChart h4
{
  color:black;
  display:block;
  position: relative;
  text-align: left;
  font-family: 'Lora', Arial, serif; font-weight: 200;
  font-weight: 300;
  font-size: 25px;
  font-style: oblique;

}
.ParagraphRadarChart p
{
  color:#CCFF99;
  display:block;
  position: relative;
  text-align: left;
  font-family: 'Lora', Arial, serif; font-weight: 200;
  font-weight: 200;
  font-size: 20px;
  font-style: oblique;

}
.ParagraphDoughnut h2
{
  color:#FF0000;
  display:block;
  position: relative;
  text-align: left;
  font-family: 'Lora', Arial, serif; font-weight: 200;
  font-weight: 200;
  font-size: 35px;
  font-style: oblique;

}

.ParagraphDoughnut h4
{
  color:black;
  display:block;
  position: relative;
  text-align: left;
  font-family: 'Lora', Arial, serif;
  font-weight: 300;
  font-size: 20px;
  font-style: oblique;

}

.ParagraphDoughnut p
{
  color:#CCFF99;
  display:block;
  position: relative;
  text-align: left;
  font-family: 'Lora', Arial, serif; font-weight: 200;
  font-weight: 200;
  font-size: 20px;
  font-style: oblique;

}


.Foo footer
{
  margin-top: 50px;
  width:100%;
  height: 170px;
  background-color:grey;
  /*color:#ccc;*/
}

.Foo a:hover
{

}
.container  p{

  color:#FF0033;
  font-weight: bold;
  font-size: 15px;
  text-align: right;
  font-family: 'Lora', Arial, serif; font-weight: 200;

}

#Copyrights p{
  color: black;
  text-align: center;
  font-size: 12px;
}
